dot-config/alacritty/alacritty.toml
dot-ssh/config
packages/wait4exit/wait4exit
**/__pycache__
dot-config/alacritty/alacritty.toml
dot-ssh/config
dot-config/tmux/plugins
dot-config/openvpn
dot-config/openvpn.tar
