[terminal.shell]
program="$TMUX_PATH"
args = ["new","-As0"]

[keyboard]
bindings = [{key ="Enter", mods="Super", action = "ToggleFullscreen"}]

[font]
normal = {family = "JetBrainsMono Nerd Font Mono"}
$FONT_SIZE_LINE

[window]
decorations= "Buttonless"
blur = true
opacity= 0.6
padding = { x = 3, y = 3}
dynamic_title = true
# startup_mode ="Fullscreen"


[colors.primary]
background = "#000000"

